<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799110258664-s2muhi7nijqlfmn9futbgl0qko3lliim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799110258664-s2muhi7nijqlfmn9futbgl0qko3lliim</string>
	<key>API_KEY</key>
	<string>AIzaSyCZgfNpPIsof9SHbZliB_IHxZI3RLkrDNw</string>
	<key>GCM_SENDER_ID</key>
	<string>799110258664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mweatApp</string>
	<key>PROJECT_ID</key>
	<string>mweatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mweatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799110258664:ios:9131dbd0aef53843054e5d</string>
</dict>
</plist>